<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= event.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= event.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= event.website %>
  </p>

</div>
