<div class="container"><%= link_to "Back to events", events_path %></div>

<div class="container">
  <div>
  <div class="card">
  <div class="card-header">
    <strong class="text-capitalize"><%= @event.title %></strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= local_time @event.date, format: '%B %e, %Y %l:%M %P' %> | <%= @event.location %></h5>
    <p class="card-text"><%= @event.phone_number %> | <%= @event.email %></p>
    <p class="card-text"><%= @event.content %></p>
    <!-- Need to determine why the end a tag is marked as red, in UI it appears fine -->
    <a class="btn btn-primary" <%= link_to @event.website, "http://#{@event.website}", :target => "_blank"%></a>
  </div>
</div>


      <%= link_to "Edit this event", edit_event_path(@event) %>
      <%= button_to "Destroy this event", @event, method: :delete %>
  </div>
</div>
