<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <%= link_to 'ORRKKO', root_path, class: "navbar-brand", id: "logo" %> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <%# <a class="nav-link active" aria-current="page" href="#">About Us</a> %>
                <%= link_to 'About Us', aboutus_path %> | 
                </li>
                <li class="nav-item">
                 <%= link_to 'Events', events_path %> | 

                </li>

                <li class="nav-item">
                <%# <a class="nav-link" href="#">Contact Us</a> %>
                 <%= link_to 'History', history_path %> |
                </li>   

                <li class="nav-item">
                <%# <a class="nav-link" href="#">Contact Us</a> %>
                 <%= link_to 'Instructors', instructors_path %> | 
                </li>   

                <li class="nav-item">
                <%# <a class="nav-link" href="#">Contact Us</a> %>
                <%= link_to 'Schools', schools_path %> | 
                </li>   

                <li class="nav-item">
                <%# <a class="nav-link" href="#">Contact Us</a> %>
                <%= link_to 'Contact Us', contact_path %>
                </li>

                <%# <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ryuei Ryu Organization
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">History</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Ryuei Ryu Dojos</a></li>
                    <li><a class="dropdown-item" href="#">Ryuei Ryu Instructors</a></li>
                </ul>
                </li> %>
                <%# <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li> %>
        </div>
            <div class="btn-group d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary me-md-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button">Login</button></li>
                    <li><button class="dropdown-item" type="button">Register</button></li>
                    <!-- add if statement for when someone is logged in only -->
                    <li><button class="dropdown-item" type="button">Settings</button></li>
                    <li><button class="dropdown-item" type="button">Logout</button></li>
                </ul>
            </div>
            <%# <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  %>

    </div>
</nav>